@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.heading{
    display: flex;
    justify-content: center;
}
.heading h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}
.middle{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}
#link{
    width: 30px;
    text-align: center;
}
.all-link:hover{
    background-color: black;
    color: white;
}

.all-link{
    color: black;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 3rem;
}